<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css">
    <script src="https://kit.fontawesome.com/78c9eea544.js" crossorigin="anonymous"></script>
    <title>Log in</title>
</head>

<body>
    
<section id="login">
   
<img src="../assets/img/logo.jpg">
<form action="dashboard.html" method="" class="form-login">
   
 <div class="form-group">
    <a href="index.html" class="form-olvido1">Volver</a>
</div>   
   <h1>
      <!--icono user lock--> 
      <i class="fas fa-user-lock"></i>
    </h1>

<div class="form-group">
    <label for="usuario" class="form-label">Usuario</label>
    <input type="text" name="usuario" id="usuario" class="form-label" placeholder="Ingresa tu usuario">
</div>
<div class="form-group">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password" id="password" class="form-label" placeholder="Ingresa tu contraseña">
</div>
<div class="form-group">
    <input type="submit" name="ingresar" class="btn-azul" value="Ingresar">
</div>
<div class="form-group">
    <input type="submit" name="registrar" class="btn-morado" value="Registrar">
</div>
<div class="form-group">
    <a href="" class="form-olvido">Recordar contraseña</a>
</div>

</form>

</section>
</body>
</html>