<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <script src="https://kit.fontawesome.com/78c9eea544.js" crossorigin="anonymous"></script>
    <title>producto2</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../../assets/img/logo.jpg">
            <span>
                <a href="../dashboard.html"><br><strong>Home</strong>
                <i class="fa-solid fa-arrow-rotate-left"></i></a>
            </span>
        </div>
        <div class="sesion">
            <img src="../../assets/img/golden.jpg">
            <span>
                <strong>Bienvenido,</strong><br>usuario
                <a href="../login.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
    </header>
    <section id="dashboard">
        <article class="menu1">
            <li class="item1"><a href="Usuario.usuario.html"> <i class="fa-solid fa-user"></i>Usuarios</li></a>
            <li class="item1"><a href="cliente.html"><i class="fa-solid fa-user-group"></i>Clientes</li></a>
                <li class="item1"><a href="usuario.html"><i class="fa-solid fa-tags"></i>Productos</li></a>
                    <li class="item1"><a href="pedidos.html"><i class="fa-solid fa-bag-shopping"></i>Pedidos</li></a>
                        <li class="item1"><a href="reportes.html"><i class="fa-solid fa-file-lines"></i>Reportes</li></a>
    
        </article>
        <article class="contenido">
           
               <div class="producto">
                   <div class="tabla-intro">

                    <img src="../../assets/img/golden.jpg" alt="imagen de producto">
                    <h1>Gestión de productos</h1>
                    <a href="productoAdd.html" class="btn-morado">Agregar</a>
               </div>
               <form class="frm-busqueda">
                   <input type="text" name="producto" placeholder="Ingresa el producto a consultar">
                   <button class="btn-morado">Buscar</button>
                </form>
                   <table>
<tr>
    <th>ID producto</th>
    <th>Nombre</th>
    <th>Características</th>
    <th>Precio</th>
    <th>Estado</th>
    <th colspan="2">Acciones</th>
</tr>
<tr>
    <td>xxxxxx</td>
    <td>xxxxxx</td>
    <td>xxxxxx</td>
    <td>xxxxxx</td>
    <td>xxxxxx</td>
    <td>
        <a href="productoeditar.html"><img src="../../assets/img/modificar.png" width="30px"></a>
    </td>
    <td>
        <button class="btn-azul">Eliminar</button>
    </td>
</tr>
                   </table>

               
           </div>

        </article>
    </section>
    
    </body>